extends ../doc-layout


block content
	+addCatalog("standard","标准")
	.example#standard(name="shape")
		h4.ui.header 标准
		.code
			c-shape#s1
				.sides
					.side
						img(c-widget="image; src:/images/avatar/large/chris.jpg; class:small centered;")
					.side
						img(c-widget="image; src:/images/avatar/large/daniel.jpg; class:small centered;")
					.side
						img(c-widget="image; src:/images/avatar/large/christian.jpg; class:small centered;")
					.side
						img(c-widget="image; src:/images/avatar/large/helen.jpg; class:small centered;")
					.side
						img(c-widget="image; src:/images/avatar/large/laura.jpg; class:small centered;")
			p
			div(c-widget="buttonGroup")
				c-button(icon="left long arrow" userData="left" click="flip")
				c-button(icon="up long arrow" userData="up" click="flip")
				c-button(icon="down long arrow" userData="down" click="flip")
				c-button(icon="right long arrow" userData="right" click="flip")
				c-button(icon="retweet arrow" userData="over" click="flip")
				c-button(icon="flipped retweet arro" userData="back" click="flip")
	script(type="text/javascript" name="shape").
		cola("shape", function (model) {
			model.action("flip", function (self, arg) {
				var ar = self.get("userData");
				cola.widget("s1").flip(ar);
			})
		})
	+addCatalog("template","模式定义内容")
	.example#template(name="template")
		h4.ui.header template
		.code
			c-shape#s2(bind="items")
				template
					.side
						img(c-widget="image; src:{{item.image}}; class:small centered;")
			p
			c-buttonGroup
				c-button(icon="left long arrow" userData="left" click="flip2")
				c-button(icon="up long arrow" userData="up" click="flip2")
				c-button(icon="down long arrow" userData="down" click="flip2")
				c-button(icon="right long arrow" userData="right" click="flip2")
				c-button(icon="retweet arrow" userData="over" click="flip2")
				c-button(icon="flipped retweet arro" userData="back" click="flip2")

	script(type="text/javascript" name="template").
		cola("template", function (model) {
			model.set("items", [
				{image: "/images/avatar/large/ade.jpg"},
				{image: "/images/avatar/large/chris.jpg"},
				{image: "/images/avatar/large/daniel.jpg"},
				{image: "/images/avatar/large/christian.jpg"},
				{image: "/images/avatar/large/helen.jpg"},
				{image: "/images/avatar/large/laura.jpg"}
			]);
			model.action("flip2", function (self, arg) {
				var ar = self.get("userData");
				cola.widget("s2").flip(ar);
			})
		})