extends layout
block content
	.doc-layer
		img.ui.image.fluid(src="/images/home-bg.jpg")
		.masthead.v-box.center
			.box
				h1.ui.inverted.header
					span.library  Cola UI
					span.tagline 支持双向数据绑定的一站式前端UI框架
				a.ui.button.big.basic.inverted(href="./docs/quick-start") 快速入门

				#homeDemoBtn.ui.button.big.basic.inverted(tabindex="0" ) 在线实例

				a.ui.button.big.basic.inverted(href="http://oss.cola-ui.com/download/cola-ui-0.3.0.zip")
					i.download.icon
					span 下载最新版本