extends doc-layout

block content
	- var createCatalog=false
	:less

	.doc-layer
		.masthead.v-box.center

				.box
					h1.ui.inverted.header
						span.library Cola UI

						span.tagline 支持双向数据绑定的一站式前端UI框架
					.ui.button.big.basic.inverted 快速入门
					.ui.button.big.animated(tabindex="0")
						.hidden.content 敬请期待
						.visible.content 在线实例