.example > p > code,
.example a > code {
  background-color: rgba(0, 50, 100, 0.12);
  color: #1e70bf;
  padding: 0 0.5em;
}
.example > p > code:hover,
.example a > code:hover {
  text-decoration: none;
}
.example pre.prettyprint {
  border: 1px solid #d4d4d5;
  padding: 1em;
  background: #ffffff;
  -webkit-transition: border-color 0.55s linear;
  transition: border-color 0.55s linear;
}
.example pre.prettyprint:hover,
.markdown-content > pre > .prettyprint:hover {
  background: #f9f9f9;
  border-color: #0098cc;
  -webkit-transition: border-color 0.55s linear;
  -moz-transition: border-color 0.55s linear;
  -o-transition: border-color 0.55s linear;
  -ms-transition: border-color 0.55s linear;
  transition: border-color 0.55s linear;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.markdown-content,
.markdown-content > p {
  line-height: 2em;
}
.markdown-content pre > .prettyprint {
  display: block;
}
.markdown-content pre > .prettyprint ol.linenums {
  color: rgba(102, 128, 153, 0.4);
}
.markdown-content code {
  background-color: #D6DBDF;
  border-radius: 4px;
  color: #2C3E50;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}
body {
  color: #2C3E50 !important;
  font-size: 15px;
}
#header > .menu {
  border-radius: 0px;
}
#footer {
  height: 20em;
  padding: 1.5em;
  overflow: hidden;
}
#footer > * {
  float: left;
  display: inline-block;
}
#footer .qq {
  max-width: 17em;
  background-color: #ffffff;
  padding: 1em 1em 0 1em;
}
#footer .qq .description {
  font-size: 0.9em;
  margin: 1em -1em 0 -1em;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.1);
}
#footer .download:not(.icon) {
  margin: 0 0 0 2em;
}
#footer .issue,
#footer .github,
#footer .documention {
  margin: 0 0 0 2em;
  min-width: 10em;
  padding: 1em;
}
#footer .issue a,
#footer .github a,
#footer .documention a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  line-height: 2em;
}
#footer .issue a:hover,
#footer .github a:hover,
#footer .documention a:hover {
  color: rgba(255, 255, 255, 0.9);
}
#toc {
  width: 14em;
  overflow: hidden;
  padding: 0.5em 1em;
}
#toc .ui.vertical.inverted.menu .menu .item,
#toc .ui.vertical.inverted.menu .menu .item a:not(.ui) {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
}
#toc .ui.vertical.inverted.menu .menu .item:hover,
#toc .ui.vertical.inverted.menu .menu .item a:not(.ui):hover {
  color: #ffffff;
}
#toc .ui.vertical.menu .item > .header:not(.ui) {
  font-size: 1.25em;
  color: #ffffff;
}
#toc:hover {
  overflow-y: auto;
}
#sidebar {
  top: 40px;
}
#article > * > .ui.rail {
  padding: 0px;
  margin: 0px;
  width: 180px;
}
.github-link-img {
  left: auto;
  right: 0px;
  position: absolute;
  width: inherit;
}
.github-link {
  left: auto;
  right: 0px;
  position: absolute;
  z-index: 1000;
  width: 156px;
  height: 156px;
}
#back-to-top {
  position: fixed;
  bottom: 4em;
  right: -4em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
  display: inline-block;
  opacity: 0.5;
}
#back-to-top i {
  font-size: 2em;
  line-height: 2em;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}
#back-to-top:hover {
  cursor: pointer;
  opacity: 0.8;
}
#back-to-top.show {
  right: 4em;
  -moz-transform: scale(1) rotate(-360deg) translate(0px);
  -webkit-transform: scale(1) rotate(-360deg) translate(0px);
  -o-transform: scale(1) rotate(-360deg) translate(0px);
  transform: scale(1) rotate(-360deg) translate(0px);
}
@media only screen and (min-width: 979px) {
  #header {
    display: none;
  }
  #article > * > .content {
    position: relative;
    padding: 1em 14em 1em 1em;
  }
}
@media only screen and (max-width: 978px) {
  #toc {
    display: none;
  }
  #article > * > .ui.rail {
    display: none;
  }
  #article > * > .content {
    position: relative;
    padding: 1em;
  }
  .github-link,
  .github-link-img {
    display: none;
  }
}
@media only screen and (max-width: 978px) {
  #footer .qq {
    width: 12em;
  }
}
@media only screen and (max-width: 768px) {
  #footer .qq {
    display: none;
  }
}
.banner {
  background: url("/images/home-bg.jpg") repeat center;
}
.banner .masthead {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
}
.banner .masthead h1 {
  line-height: 2em;
}
.banner .masthead h1 .library {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
}
.banner .masthead h1 .tagline {
  font-size: 0.75em;
}
