extends ../doc-layout

block content

	+addCatalog("fade","Fade")
	.example#fade
		h4.ui.header Fade
		.code
			c-reveal
				div.visible.content
					img.ui.small.image(src="/images/wireframe/square-image.png")
				div.hidden.content
					img.ui.small.image(src="/images/avatar/large/ade.jpg")
	+addCatalog("move","Move")
	.example#move
		h4.ui.header Move
		p 元素可以向某方向移动来展现内容;type:move; direction可选值<code>left,right,up,down</code>
		.code
			c-reveal(type="move")
				div.visible.content
					img.ui.small.image(src="/images/wireframe/square-image.png")
				div.hidden.content
					img.ui.small.image(src="/images/avatar/large/ade.jpg")
			c-reveal(type="move" direction="right")
				div.visible.content
					img.ui.small.image(src="/images/wireframe/square-image.png")
				div.hidden.content
					img.ui.small.image(src="/images/avatar/large/ade.jpg")
			c-reveal(type="move" direction="up")
				div.visible.content
					img.ui.small.image(src="/images/wireframe/square-image.png")
				div.hidden.content
					img.ui.small.image(src="/images/avatar/large/ade.jpg")
			c-reveal(type="move" direction="down")
				div.visible.content
					img.ui.small.image(src="/images/wireframe/square-image.png")
				div.hidden.content
					img.ui.small.image(src="/images/avatar/large/ade.jpg")
	+addCatalog("rotate","Rotate")
	.example#rotate
		h4.ui.header Rotate
		p 元素可以旋转的展现下面的内容;direction可选值<code>left,right</code>
		.code
			c-reveal(type="rotate")
				div.visible.content
					img.ui.small.image.circular(src="/images/wireframe/square-image.png")
				div.hidden.content
					img.ui.small.image.circular(src="/images/avatar/large/daniel.jpg")
			c-reveal(type="rotate" direction="right")
				div.visible.content
					img.ui.small.image.circular(src="/images/wireframe/square-image.png")
				div.hidden.content
					img.ui.small.image.circular(src="/images/avatar/large/joe.jpg")



	script(type="text/javascript").
		cola(function (model) {
		});
