extends ../doc-layout

block content
	p.
		Form控件可以为你提供表单元素的布局功能，同时Form控件也能管理和显示其中所有表单元素的校验信息。

	+addCatalog("basic","基本布局")
	.example(name="basic")#basic
		h4.ui.header 基本布局
		.code
			c-form(style="max-width:400px")
				.field
					c-input(bind="email" placeholder="Email")
				.field
					c-input(bind="password" placeholder="Password" inputType="password")
				.field
					c-checkbox(bind="remember" label="Remember Me")
				.field
					c-button(caption="Sign In")
		script(type="text/javascript" name="basic").
			cola("basic", function (model) {
			});

	+addCatalog("labeled","带标签的表单")
	.example(name="labeled")#labeled
		h4.ui.header 带标签的表单
		.code
			c-form(style="max-width:400px")
				.field
					label Email
					c-input(bind="email" placeholder="Email")
				.field
					label Password
					c-input(bind="password" placeholder="Password" inputType="password")
				.field
					label Remember Me
					c-checkbox(bind="remember" label="Remember Me")
				.field
					c-button(caption="Sign In")
		script(type="text/javascript" name="labeled").
			cola("labeled", function (model) {
			});

	+addCatalog("inline","多列布局")
	.example(name="inline")#inline
		h4.ui.header 多列布局
		.code
			c-form(style="max-width:400px")
				.fields.two
					.field
						c-input(bind="email" placeholder="Email")
					.field
						c-input(bind="password" placeholder="Password" inputType="password")
				.field
					c-checkbox(bind="remember" label="Remember Me")
				.field
					c-button(caption="Sign In")
		script(type="text/javascript" name="inline").
			cola("inline", function (model) {
			});

	+addCatalog("validator","校验信息")
	.example(name="validator")#validator
		h4.ui.header 校验信息
		.code
			c-form(style="max-width:400px")
				.field
					c-input(bind="name" placeholder="Name(非空)")
				.field
					c-input(bind="age" placeholder="Age(非空且16到60之间)")
				.field
					c-input(bind="email" placeholder="Email(电邮格式)")
				.field
					c-button(caption="校验" click="validate")
		script(type="text/javascript" name="validator").
			cola("validator", function (model) {
				model.describe({
					name: {
						validators: "required"
					},
					age: {
						dataType: "int",
						validators: [
							"required",
							{$type: "number", min: 16, max: 60}
						]
					},
					email: {
						validators: "email"
					}
				});
				model.action({
					validate: function () {
						model.get().validate();
					}
				});
			});

	+addCatalog("messages","校验信息汇总")
	.example(name="messages")#messages
		h4.ui.header 校验信息汇总
		.code
			c-form(style="max-width:400px")
				.ui.message.error
				.field
					c-input(bind="name" placeholder="Name(非空)")
				.field
					c-input(bind="age" placeholder="Age(非空且16到60之间)")
				.field
					c-input(bind="email" placeholder="Email(电邮格式)")
				.field
					c-button(caption="校验" click="validate")
		script(type="text/javascript" name="messages").
			cola("messages", function (model) {
				model.describe({
					name: {
						validators: "required"
					},
					age: {
						dataType: "int",
						validators: [
							"required",
							{$type: "number", min: 16, max: 60}
						]
					},
					email: {
						validators: "email"
					}
				});
				model.action({
					validate: function () {
						model.get().validate();
					}
				});
			});