extends ../doc-layout
block content
	style.
		.ui.input {
			margin-right: 1em;
			margin-bottom: 1em;
		}
	+addCatalog("standard","输入框")
	.example#standard
		h4.ui.header 标准输入框
		p.
		.code
			c-input(placeholder="搜索...")

	+addCatalog("icon","图标")
	.example#icon
		h4.ui.header 图标

		.code
			c-input(placeholder="搜索..." icon="search")
			c-input(placeholder="搜索用户..." icon="users" iconPosition="left")

	+addCatalog("error","Error")
	.example#error
		h4.ui.header Error
		.code
			c-input.error(placeholder="密码;")
	+addCatalog("loading","Loading")
	.example#loading
		h4.ui.header Loading
		p.
			输入框结合loading 图标可展示加载数据的状态
		.code
			c-input.loading(placeholder="搜索..."  icon="search")

	+addCatalog("label","标签")
	.example#label
		h4.ui.header 标签
		p 输入框可联合标签使用
		.code
			c-input(placeholder="搜索..." value="mysite.com")
				c-label(text="http://")
			c-input(placeholder="搜索网址..." labelPosition="right")
				c-label(text=".com")
			c-input(icon="tag" iconPosition="left" placeholder="输入..." labelPosition="right")
				c-label(text="标签")

	+addCatalog("button","按钮")
	.example#button
		h4.ui.header 按钮
		p 输入框可结合按钮向用户指明操作行为
		.code
			c-input(placeholder="搜索..." value="mysite.com ")
				c-button(caption="搜索")
			c-input(value="$53.5" buttonPosition="left")
				c-button.teal(caption="购买" icon="cart")
			c-input(placeholder="关键字;")
				c-menuButton(caption="Google" icon="dropdown" color="blue" iconPosition="right")
					c-menu
						a.item Google
						a.item Bing
						a.item BaiDu
						a.item SouGou

			c-input(placeholder="搜索;")
				c-button(icon="search" color="orange")
			c-input
				c-button(caption="复制" icon="copy" color="purple")

	+addCatalog("transparent","透明")
	.example#transparent
		h4.ui.header 透明
		p 透明输入框无背景色,可在menu或者部分反白的容器内使用此UI
		.code
			c-input(placeholder="搜索..." class="transparent" icon="search")

	+addCatalog("inverted","反白")
	.example#inverted
		h4.ui.header 反白
		.ui.segment.inverted
			.code
				c-input(placeholder="搜索..." class="inverted" icon="search")
				div.ui.inverted.divider
				c-input(placeholder="搜索..." class="inverted transparent" icon="search")

	+addCatalog("fluid","流体")
	.example#fluid
		h4.ui.header 流体
		p 输入框横向撑满父容器
		.code

			c-input(placeholder="搜索..." value="mysite.com"  class="fluid")
				c-button(caption="搜索")
			c-input(buttonPosition="left" value="$53.5" class="fluid")
				c-button(caption="购买"  icon="cart"  class="teal")

	+addCatalog("size","尺寸")
	.example#size
		h4.ui.header 尺寸
		p 默认提供了以下尺寸<code>mini、small、medium、large、big、huge、massive</code>
		.ui.ignored.info.message 这些输入框将自动设置尺寸大小，除非你手动声明了宽度
		.code
			each size in ["mini","small","medium","large","big","huge","massive"]
				.ui.divider.hidden
				c-input(class=size placeholder="搜索...")

	script(type="text/javascript").
		cola(function (model) {

		});