extends ../doc-layout
block content

	+addCatalog("standard","标准")
	.example#standard
		h4.ui.header 评分控件
		.code
			c-rating(maxRating="10" rating="3")
	+addCatalog("star","Star")
	.example#star
		h4.ui.header Star
		.code
			c-rating.star(maxRating="5" rating="3")
	+addCatalog("heart","Heart")
	.example#heart
		h4.ui.header Heart
		.code
			div.heart(c-widget="Rating; maxRating:5; rating:3; class:heart")
	+addCatalog("heart","Heart")
	.example#disabled
		h4.ui.header disabled
		.code
			c-rating(maxRating="5" rating="3" disabled="true")


