extends ../doc-layout
block content

	+addCatalog("static","标准")
	.example(name="static")#static
		h4.ui.header 静态选择项
		p.
			Select控件是利用浏览器原生的select标签实现的输入控件。最简单的定义选择项的方式是直接通过String数组。
		.code
			c-select(options="{{options}}")
		script(type="text/javascript" name="static").
			cola("static", function (model) {
				model.set("options", ["Javascript", "CSS3", "HTML5", "Coffee", "LESS"])
			});

	+addCatalog("mapping","键值映射")
	.example(name="mapping")#mapping
		h4.ui.header 键值映射
		p.
			Select控件也支持定义键值对形式的选择项，只需利用JSON对象的数组。
			每个JSON对象中的value或key属性将被认作是选项的内部值，而text或name属性将被认作是选项的显示值。
		.code
			c-select(options="{{options}}" bind="gender")
			div
				span 值为:
				span(c-bind="gender")
		script(type="text/javascript" name="mapping" ).
			cola("mapping", function (model) {
				model.set("options", [
					{value: null, text: "<Unknown>"},
					{value: "m", text: "Male"},
					{value: "f", text: "Female"}
				]);
			});
