extends ../doc-layout
block content
	+addCatalog("toggle","Toggle")
	.example#toggle
		h4.ui.header 开关控件
		.code
			c-toggle(label="滑动开关")
			c-toggle.slider(label="滑动开关")
	+addCatalog("onValue","onValue")
	.example#onValue
		h4.ui.header onValue
		.code
			c-toggle(label="滑动开关" value="开启" onValue="开启" )
	+addCatalog("offValue","offValue")
	.example#offValue
		h4.ui.header offValue
		.code
			c-toggle(abel="滑动开关" value="关闭" offValue="关闭")
	script(type="text/javascript").
		cola(function (model) {
		});	