extends ../doc-layout

block content
	+addCatalog("paging","分页装载")
	.example(name="paging")#paging
		h4.ui.header 分页表格
		.code
			#pagingTable
			div(c-widget="Pager; bind:pageItems")
				a.item(page-code="|<")
				a.item(page-code="<")
				a.item(page-code="goto")
				a.item(page-code=">")
				a.item(page-code=">|")
		script(type="text/javascript" name="paging").
			cola("paging", function (model) {
				model.describe("pageItems", {
					provider: {
						url: "/numbers",
						pageSize: 5
					}
				});

				model.widgetConfig({

					pagingTable: {
						$type: "table",
						bind: "item in pageItems",
						showHeader: true,
						currentPageOnly: true,
						height: 300,
						columns: [
							{
								bind: ".id",
								caption: "编号"
							}
						]
					}
				});
			});