extends ../doc-layout
block content
	link(rel="stylesheet" type="text/css" href="/examples/grid.css")
	link(rel="stylesheet" type="text/css" href="/examples/visibility.css")
	- defaultGroupName="Form 布局"
	.markdown-content
		+addCatalog("form","简介")
		#form
		:markdown
			## Form 布局
			Cola 表单布局继承了Semantic UI 表单布局。将响应式结构化的排列用户输入字段。
			### 简介
			表单布局将默认16列模式横向切分布局空间，等比例的切分也提供了简短定义模式，简化了用户重复定义class的烦恼。
			用于通过一系列的组`fields`与字段`field`的组合来创建Form布局，你的内容就可以放入field中。

			* `fields` 定义字段组
			* `field` 定义字段
			* `* wide` 定义字段宽度所字段列数(fields默认横向切分16 wide)

			### 响应式
			Cola Form 无需任何配置，将在小屏幕模式下自动每个单元格独占一行。

	+addCatalog("wide","指定网格列")
	.example#wide
		h3 指定网格列
		p 一个字段可以指定网格列的宽度
		.code
			.ui.form
				.fields
					.field.eight.wide
						label 开始日期
						div(c-widget="Input")

					.field.eight.wide
						label 结束日期
						div(c-widget="Input")

				.fields
					.field.four.wide
						label 联系电话
						div(c-widget="Input")

					.field.twelve.wide
						label Email
						div(c-widget="Input")
				div(c-widget="button; caption:提交")
	+addCatalog("fields","等比例分配")
	.example#fields
		h3 等比例分配
		p class="* fields" 定义字段等比例分配横向空间
		.code
			.ui.form
				.two.fields
					.field
						label 生产日期
						div(c-widget="Input")

					.field
						label 截止日期
						div(c-widget="Input")
				.three.fields
					.field
						label 产品名称
						div(c-widget="Input")

					.field
						label 产品编码
						div(c-widget="Input")

					.field
						label 生产地址
						div(c-widget="Input")
				.field
					label 产品说明
					textarea




	script(type="text/javascript").
		cola(function (model) {

		})