@prettyprintTransition: border-color 0.55s linear;
@prettyprintBoxShadow: 0 1px 4px rgba(0, 105, 214, 0.25);
.example {
	> p, a {
		> code {
			background-color: rgba(0, 50, 100, 0.12);

			color: #1e70bf;
			padding: 0 0.5em;
			&:hover {
				text-decoration: none;
			}
		}
	}
	pre.prettyprint {
		border: 1px solid #d4d4d5;
		padding: 1em;

		background: #ffffff;
		-webkit-transition: @prettyprintTransition;
		transition: @prettyprintTransition;
	}

}

.example pre.prettyprint:hover, .markdown-content > pre > .prettyprint:hover {
	background: #f9f9f9;
	border-color: #0098cc;
	-webkit-transition: @prettyprintTransition;
	-moz-transition: @prettyprintTransition;
	-o-transition: @prettyprintTransition;
	-ms-transition: @prettyprintTransition;
	transition: @prettyprintTransition;
	-webkit-box-shadow: @prettyprintBoxShadow;
	-moz-box-shadow: @prettyprintBoxShadow;
	box-shadow: @prettyprintBoxShadow;
}

.markdown-content {
	&, & > p {
		line-height: 2em;
	}
	pre > .prettyprint {
		display: block;
		ol.linenums {
			color: rgba(102, 128, 153, 0.4);
		}
	}
	code {
		background-color: #D6DBDF;
		border-radius: 4px;
		color: #2C3E50;
		font-size: 90%;
		padding: 2px 4px;
		white-space: nowrap;
	}
}

body {
	color: #2C3E50 !important;
	font-size: 15px;
}

#header > .menu {
	border-radius: 0px;
}

#footer {
	height: 200px;
}

#toc {
	width: 14em;
	overflow: hidden;
	padding: 0.5em 1em;
	.ui.vertical.inverted.menu .menu .item, .ui.vertical.inverted.menu .menu .item a:not(.ui) {
		color: rgba(255, 255, 255, 0.8);
		font-size: 1em;
		&:hover {
			color: rgba(255, 255, 255, 1);
		}
	}
	.ui.vertical.menu .item > .header:not(.ui) {
		font-size: 1.25em;
		color: rgba(255, 255, 255, 1);

	}
	&:hover {
		overflow-y: auto;
	}
}

#sidebar {
	top: 40px;
}

#article {
	> * {
		> .ui.rail {
			padding: 0px;
			margin: 0px;
			width: 180px;
		}
	}

}

@media only screen and (min-width: 1145px) {
	#header {
		display: none;
	}

	#article {
		> * {
			> .content {
				padding: 1em 14em 1em 1em;
			}
		}
	}
}

@media only screen and (max-width: 1144px) {
	#toc {
		display: none;
	}

	#article {
		> * {
			> .ui.rail {
				display: none;
			}
			> .content {
				padding: 1em;
			}
		}
	}
}